body {
    background-image: url("https://cdn.pixabay.com/photo/2015/08/08/11/00/banner-880294_960_720.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0 25% 0 25%;
    padding: 0;
}

li {
    display: inline;
    font-size: 27px;
    background-color: blue;
    margin: 5% 2% 5% 2%;
    padding: 2% 2% 2% 2%;
}

li a {
    color: white;
        }

