<div class="navbar">
    <a href="{{ path('home') }}">Accueil</a>
    <div class="dropdown">
        <button class="dropbtn">Spectacle
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="{{ path('allArtists') }}">Artistes</a>
            <a href="{{ path('galerie') }}">Galerie</a>
        </div>
    </div>
    <a href="#news">Tarifs</a>
    <a href="{{ path('contact') }}">Contact</a>
</div>